In [16]:
def function(data,con,var):
    pi=[]
    if con=='1':
        if var!='all':
            for name in var:
                mean_value=data[name].mean()
                data[name].fillna(value=mean_value, inplace=True)
            pi=data
        else:
            mean_value3=data.mean()
            data.fillna(value=mean_value3, inplace=True)
            pi=data
    elif con=='2': 
        if var!='all':
            for name in var:
                mean_value1=data[name].mode()
                data[name].fillna(value=mean_value1, inplace=True)
            pi=data
        else:
            mean_value2=data.mode()
            data.fillna(value=mean_value2, inplace=True)
            pi=data
    elif con=='3': 
        if var!='all':
            for name in var:
                data[name].fillna(value=0, inplace=True)
            pi=data
        else:
            data.fillna(value=0, inplace=True)
            pi=data
    else:
        print('no input')
    return pi

In [17]:
import pandas as pd
df=pd.read_csv(r"C:\\Users\\SVMY\\Desktop\\simple.csv")
df

     x    y    z
0  3.0  4.0  NaN
1  4.0  4.0  4.0
2  2.0  8.0  9.0
3  1.0  5.0  7.0
4  5.0  7.0  6.0
5  8.0  6.0  4.0
6  3.0  2.0  2.0
7  NaN  5.0  NaN
8  9.0  NaN  6.0

In [20]:
function(df,'3','all')

     x    y    z
0  3.0  4.0  4.0
1  4.0  4.0  4.0
2  2.0  8.0  9.0
3  1.0  5.0  7.0
4  5.0  7.0  6.0
5  8.0  6.0  4.0
6  3.0  2.0  2.0
7  0.0  5.0  0.0
8  9.0  0.0  6.0

In [21]:
import pickle
outfile = open("clean.pkl",'wb')
pickle.dump(function,outfile)
outfile.close()

In [25]:
infile = open("clean.pkl",'rb')
f = pickle.load(infile)
infile.close()

In [21]:
ft=function(df,'2','all')

In [22]:
print(ft)

     x    y    z
0  3.0  4.0  4.0
1  4.0  4.0  4.0
2  2.0  8.0  9.0
3  1.0  5.0  7.0
4  5.0  7.0  6.0
5  8.0  6.0  4.0
6  3.0  2.0  2.0
7  0.0  5.0  0.0
8  9.0  0.0  6.0

In [40]:
print(fg)

Empty DataFrame
Columns: []
Index: []

In [48]:
mean_value1=df['x'].max()
mean_value1

9.0

In [61]:
a=['all']
a

['all']

In [62]:
str(a)

"['all']"

In [72]:
y=['all']
if y[-1]=='all':
    print("success")

success

In [9]:
z=['y','z']
dj=['']
if z==dj :
    print('success')
else:
    print("get")

get