In [17]:
def function(data,con,var):
    if con=='1':
        if var!='all':
            for name in var:
                mean_value=data[name].mean()
                data[name].fillna(value=mean_value, inplace=True)
            print(data)
        else:
            mean_value3=data.mean()
            data.fillna(value=mean_value3, inplace=True)
            print(data)
    elif con=='2': 
        if var!='all':
            for name in var:
                mean_value1=data[name].mode()
                data[name].fillna(value=mean_value1, inplace=True)
            print(data)
        else:
            mean_value2=data.mode()
            data.fillna(value=mean_value2, inplace=True)
            print(data)
    elif con=='3': 
        if var!='all':
            for name in var:
                data[name].fillna(value=0, inplace=True)
            print(data)
        else:
            data.fillna(value=0, inplace=True)
            print(data)
    else:
        print('no input')

In [15]:
import pandas as pd
df=pd.read_csv(r"C:\\Users\\SVMY\\Desktop\\simple.csv")
df

     x    y    z
0  3.0  4.0  NaN
1  4.0  4.0  4.0
2  2.0  8.0  9.0
3  1.0  5.0  7.0
4  5.0  7.0  6.0
5  8.0  6.0  4.0
6  3.0  2.0  2.0
7  NaN  5.0  NaN
8  9.0  NaN  6.0

In [18]:
function(df,'3','all')

     x    y    z
0  3.0  4.0  0.0
1  4.0  4.0  4.0
2  2.0  8.0  9.0
3  1.0  5.0  7.0
4  5.0  7.0  6.0
5  8.0  6.0  4.0
6  3.0  2.0  2.0
7  0.0  5.0  0.0
8  9.0  0.0  6.0